.cms table.ss-gridfield-table tbody td button.gridfield-button-activate, .cms table.ss-gridfield-table tbody td button.gridfield-button-deactivate { 
    width: 20px; 
}
.gridfield-button-activate .ui-button-icon-primary, .gridfield-button-deactivate .ui-button-icon-primary {
    left: 5px; 
}
