.cms table.ss-gridfield-table tbody td button.gridfield-button-enable-popup, .cms table.ss-gridfield-table tbody td button.gridfield-button-disable-popup { 
    width: 20px; 
}
.gridfield-button-enable-popup .ui-button-icon-primary, .gridfield-button-disable-popup .ui-button-icon-primary {
    left: 5px; 
}
